completed_tasks
/web/uploads
/.metadata
/.settings
.project
.buildpath
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/.idea
/web/upload
*~
*.log
*.tmp
.composer.lock
/web/tmp_main