{% extends '::layout.html.twig' %}

{% block login_place %}
{% endblock %}

{% block herounit %}
    <div class="stats stats-theme-light pull-right" title="Click to refresh stat">
        <span class="stats-item"><span class="stats-label">in query</span> <span class="stats-count">15</span></span>
        <span class="stats-item"><span class="stats-label">in progress</span> <span class="stats-count">3</span></span>
        <span class="stats-item"><span class="stats-label">done</span> <span class="stats-count">816</span></span>
    </div>
    <h2>Offliner welcomes you, hello {{ app.user.nickname|default("Anonymous") }} </h2>
    <p>Our service make you happy! Сlone any website you wish to be</p>
    <span style="vertical-align: super">
             <a href="logout" class="btn btn-danger btn-large">Logout</a>
    </span>
{% endblock %}


{% block rowdata %}
    {{ app.user.nickname }}
    <div class="span4">
        {% for task in app.user.tasks %}
            <h5>{{task.url}}</h5>
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block footer %}
{% endblock %}

